version: '2'

volumes:
        orderer:
        peer-org:

networks:
        test:

services:
        orderer:
                container_name: orderer.testnetwork.com
                image: hyperledger/fabric-orderer:latest
                environment:
                        - FABRIC_LOGGING_SPEC=DEBUG
                        - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
                        - ORDERER_GENERAL_GENESISFILE=/var/hyperledger/orderer/orderer.genesis.block
                        - ORDERER_GENERAL_GENESISMETHOD=file
                        - ORDERER_GENERAL_LOCALMSPID=ordererMSP
                        - ORDERER_GENERAL_LOCALMSPDIR=/var/hyperledger/orderer/msp
                        - ORDERER_GENERAL_TLS_ENABLED=true
                        - ORDERER_GENERAL_TLS_PRIVATEKEY=/var/hyperledger/orderer/tls/server.key
                        - ORDERER_GENERAL_TLS_CERTIFICATE=/var/hyperledger/orderer/tls/server.crt
                        - ORDERER_GENERAL_TLS_ROOTCAS=[/var/hyperledger/orderer/tls/ca.crt]
                        - ORDERER_GENERAL_CLUSTER_CLIENTCERTIFICATE=/var/hyperledger/orderer/tls/server.crt
                        - ORDERER_GENERAL_CLUSTER_CLIENTPRIVATEKEY=/var/hyperledger/orderer/tls/server.key
                        - ORDERER_GENERAL_CLUSTER_ROOTCAS=[/var/hyperledger/orderer/tls/ca.crt]
                working_dir: /opt/gopath/src/github.com/hyperledger/fabric
                command: orderer
                volumes:
                        - ./channel-artifacts/genesis.block:/var/hyperledger/orderer/orderer.genesis.block
                        - ./certs/ordererorg/orderer/msp:/var/hyperledger/orderer/msp
                        - ./certs/ordererorg/orderer/tls:/var/hyperledger/orderer/tls
                        - orderer:/var/hyperledger/production/orderer
                ports:
                        - "7050:7050"
                networks:
                        - test

        peer-org:
                container_name: peer.testnetwork.com
                image: peer-ext:2.0.0
                environment:
                        - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
                        - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=network_test
                        - FABRIC_LOGGING_SPEC=INFO
                        - CORE_PEER_ID=peer.testnetwork.com
                        - CORE_PEER_ADDRESS=peer.testnetwork.com:7051
                        - CORE_PEER_LISTENADDRESS=0.0.0.0:7051
                        # - CORE_PEER_CHAINCODEADDRESS=peer-org:7053
                        - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7053
                        - CORE_PEER_LOCALMSPID=orgMSP
                        - CORE_PEER_TLS_ENABLED=true
                        - CORE_PEER_GOSSIP_USELEADERELECTION=false
                        - CORE_PEER_GOSSIP_ORGLEADER=true
                        - CORE_PEER_TLS_CERT_FILE=/etc/hyperledger/fabric/tls/server.crt
                        - CORE_PEER_TLS_KEY_FILE=/etc/hyperledger/fabric/tls/server.key
                        - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/fabric/tls/ca.crt
                working_dir: /etc/hyperledger/fabric #/opt/gopath/src/github.com/hyperledger/fabric/peer
                command: peer node start
                volumes:
                        - /var/run/:/host/var/run/
                        - ./certs/peerorg/peer/msp:/etc/hyperledger/fabric/msp
                        - ./certs/peerorg/peer/tls:/etc/hyperledger/fabric/tls
                        - peer-org:/var/hyperledger/production
                ports:
                        - "7051:7051"
                        - "7053:7053"
                networks:
                        - test
        
        cli:
            container_name: cli
            image: hyperledger/fabric-tools:latest
            tty: true
            stdin_open: true
            environment:
                - GOPATH=/opt/gopath
                - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
                - FABRIC_LOGGING_SPEC=INFO
                - CORE_PEER_ID=cli
                - CORE_PEER_ADDRESS=peer.testnetwork.com:7051
                - CORE_PEER_LOCALMSPID=orgMSP
                - CORE_PEER_TLS_ENABLED=true
                - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/fabric/msp
                - CORE_PEER_TLS_CERT_FILE=/etc/hyperledger/fabric/tls/server.crt
                - CORE_PEER_TLS_KEY_FILE=/etc/hyperledger/fabric/tls/server.key
                - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/fabric/tls/ca.crt
                - ORDERER_CA_CERT=/etc/hyperledger/fabric/orderer-ca.cert
            working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer/scripts
            command: /bin/bash
            volumes:
                - /var/run/:/host/var/run/
                - ./channel-artifacts:/opt/gopath/src/github.com/hyperledger/fabric/peer/channel-artifacts
                - ./certs/peerorg/admin/msp:/etc/hyperledger/fabric/msp
                - ./certs/peerorg/admin/tls:/etc/hyperledger/fabric/tls
                - ./certs/ordererorg/msp/tlscacerts/ca.pem:/etc/hyperledger/fabric/orderer-ca.cert
                - ./scripts:/opt/gopath/src/github.com/hyperledger/fabric/peer/scripts
                - ../golang:/opt/gopath/src/addorg
            networks:
                - test
            depends_on:
                - peer-org